$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Fjalla One', sans-serif;
}

.main-font {
  font-size: 80px;
}

.secondary-font {
  font-size: 80px;
  color: #AAA;
}

.main-section {
  padding-top: 20%;
}

.next, .next2 {
  padding-top: 12%;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.21);
  cursor: pointer;
  display: none;
}

.fa-tree {
  font-size: 30px;
  padding-bottom: 15px;
}

.red {
  color: #AA0000;
}

.navbar.navbar-fixed-bottom {
  position: absolute;
}

.carousel {
  height: 300px;
}

.from {
  color: #CCC;
  padding-top: 50px;
}

.wish-again {
  padding-top: 50px;
  cursor: pointer;
}

.main-wish {
  font-size: 30px;
}

.item.active {
  min-height: 400px;
}
